//:host {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//}
//
//mat-drawer {
//  min-width: 200px;
//  max-width: 300px;
//}
//
//.margin-left {
//  margin-left: -10px;
//
//}
//
//mat-drawer-container  {
//  min-height: calc( 50vh - 64px );
//}
//
//::ng-deep .mat-drawer-inner-container {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  background: #ecececc2;
//}
//
//
//.center {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 80vh;
//}
//
//
//.date-hour-content {
//  background: #3f51b538;
//  text-align: center;
//  padding: 10px 0;
//}

///////////////////////////////////
//table {
//  width: 20px;
//}
//
//tr.example-detail-row {
//  height: 10px;
//}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
//
//tr.example-element-row:not(.example-expanded-row):active {
//  background: #efefef;
//}

//.example-element-row td {
//  border-bottom-width: 0;
//}

//.example-element-detail {
//  overflow: hidden;
//  display: flex;
//}
//
//.example-element-diagram {
//  min-width: 80px;
//  border: 2px solid black;
//  padding: 8px;
//  font-weight: lighter;
//  margin: 8px 0;
//  height: 104px;
//}

//.example-element-symbol {
//  font-weight: bold;
//  font-size: 40px;
//  line-height: normal;
//}
//
//.example-element-description {
//  padding: 16px;
//}

//.example-element-description-attribution {
//  opacity: 0.5;
//}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  border-radius: 0;
  width: 28rem;
}

.mat-expansion-panel {
  background: #e7dada;
  color: rgba(0, 0, 0, .87);
}

.mat-expansion-panel-spacing {
  margin: 16px 0;
  width: 28rem;
}

