//.container1{
//  padding: 15rem;
//  justify-content: center;
//  direction: ltr;
//
//}
//
//.reg-container {
//  margin-top: 50px;
//  height: 60px;
//  width: 100%;
//  align-items: center;
//  display: flex;
//
//}
//
//.reg-content {
//  width: 400px;
//  display: block;
//  margin: 0 auto;
//
//}

//.reg-toolbar {
//  justify-content: center;
//
//}
//.mat-mdc-card{
//  padding: 4rem;
//
//}
//
//.mat-raised-button {
//  width: 100%;
//  height: 60px;
//  margin-top: 15px;
//}
//
//.button{
//  display:flex;
//  justify-content: space-around;
//}
//
//.mat-mdc-raised-button.mat-mdc-button-base,
//.mat-mdc-outlined-button.mat-mdc-button-base {
//  height: 36px;
//  width: 11rem;
//}
//
//.rg-span{
//  justify-content: center;
//  padding-right: 2rem;
//}
//
//.width{
//  width: 18rem;
//}
//
//
//.mat-mdc-card {
//  border-width: 1px;
//  border-style: ridge;
//  border-color: black;
//  //border-radius: 22px;
//}

//[dir=rtl] .mdc-text-field--outlined .mdc-floating-label, .mdc-text-field--outlined .mdc-floating-label[dir=rtl] {
//  right: 11px;
//  width: 132px;
//}
//.mdc-notched-outline .mdc-floating-label {
//  display: inline-block;
//  position: relative;
//  max-width: 100%;
//  min-width: 100%;
//  width: 133px;
//}


/////////////////////////////*********************ghasedak//////////////////////


.container {
  //direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  //background: linear-gradient(223deg, #C7C5F4, #776BCC);
  max-width: 600rem;
  min-width: 20rem;
  overflow: hidden;
  max-height: -webkit-fill-available;
}

.screen_image {
  //-webkit-transform: scaleX(-1);
  //transform: scaleX(-1);
  ////opacity: 1;
  //height: 100vh;
  //width: 55cm;
  background-size: cover !important;
  min-width: 114%;
  min-height: 100vh;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

img{
  opacity: 0.7;
}

.screen {
  //background: linear-gradient(90deg, #5D54A4, #7C78B8);
  //background: #000000a3;
  //background: rgba(46, 79, 79, 0.84);
  background: rgba(45, 77, 90, 0.7);
  position: fixed;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #25242d;
  border-radius: 22px;
  z-index: 3;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.reg {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.reg__field {
  padding: 20px 0px;
  position: relative;
  width: 20rem;
  margin-right: 2rem;
}

.reg__icon {
  position: absolute;
  top: 30px;
  //color: #7875B5;
  color: #FFB100;
}

.show__pass {
  position: absolute;
  top: 30px;
  //color: #494771;
  color: #FFB100;
  left: 64px;
}

input {

  color: #FFB100;
}

.reg__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  //padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;

  padding-right: 24px;
}

.reg__input:active,
.reg__input:focus,
.reg__input:hover {
  outline: none;
  //border-bottom-color: #6A679E;
  border-bottom-color: #FFB100;
}

.reg__submit {
  //background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  box-shadow: 0px 2px 2px #5C5696;
  //cursor: pointer;
  transition: .2s;
  //direction: ltr;
  margin-right: 1rem;
}

.button__text {
  //color: #4C489D;
  color: #FFB100;
}

//.reg__submit:active,
//.reg__submit:focus,
//.reg__submit:hover {
//  //border-color: #6A679E;
//  border-color: #FFB100;
//  outline: none;
//}

.button__icon {
  font-size: 24px;
  //margin-left: auto;
  margin-right: auto;
  //color: #7875B5;
  color: #FFB100;

}

.error-message {
  color: #ff3c41;
  //margin-right: 6rem;
  font-weight: 900;
  text-align: end;
}
input.ng-touched.ng-invalid {
  //border-color: red;
  border-color: #ff3c41
}

//.ng-touched.ng-invalid{
//  i: {
//      color: red;
//  }
//}



.ng-valid{
  .reg__submit {
    background-color: #2E4F4FEA;
  }

  .reg__submit:active,
  .reg__submit:focus,
  .reg__submit:hover {
    //border-color: #6A679E;
    border-color: #FFB100;
    outline: none;
  }
}

.has-danger {
  //border: 1px solid #ff4d4f !important;
  //border-color: #ff4d4f !important;
  color: #ff4d4f !important;
}

/////////////////////////////*********************ghasedak//////////////////////
