<!--&lt;!&ndash;<app-header flexLayout="column"></app-header>&ndash;&gt;-->
<!--<div flexLayout="row" >-->
<!--  <div fxFlex="20">-->
<!--    <app-sidebar ></app-sidebar>-->
<!--  </div>-->

<!--  <div fxFlexAlign="center" class="content">-->
<!--&lt;!&ndash;    <mat-card>&ndash;&gt;-->
<!--      <router-outlet></router-outlet>-->
<!--&lt;!&ndash;    </mat-card>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;<app-footer flexLayout="column"></app-footer>&ndash;&gt;-->


<div >
  <app-header (menuToggled)="toggle()"></app-header>

  <mat-drawer-container>

    <mat-drawer mode="side"  [opened]="opened" >
      <app-main-sidebar [menu]="menu"></app-main-sidebar>
    </mat-drawer>

<!--    <mat-drawer-content >-->
    <mat-drawer-content [class.margin-left]="opened" >
<!--      <app-page-header icon="home">-->
<!--        <h2>Home</h2>-->
<!--        <button routerLink="/sales" mat-flat-button-->
<!--          color="primary" class="action">-->
<!--          <mat-icon class="mr-2">add</mat-icon>-->
<!--          <span>New sale</span>-->
<!--        </button>-->
<!--      </app-page-header>-->
      <app-page-header></app-page-header>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</div>

