//:host {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//}
//
//.content {
//  display: grid;
//  padding-right: 11rem;
//  padding-left: 20px;
//  padding-top: 5rem;
//  width: 89.80%;
//}
//
//.mat-mdc-card {
//  position: relative;
//  border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
//  background-color: var(--mdc-elevated-card-container-color, transparent);
//  border-width: 0;
//  border-style: solid;
//  border-color: var(--mdc-elevated-card-container-color, transparent);
//  background-color: #b37600;
//
//}
//
//.mdc-card {
//  display: flex;
//  flex-direction: column;
//  box-sizing: border-box;
//}
//
//.mat-mdc-card {
//  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
//  --mdc-elevated-card-container-color: #fff;
//}
//
//
//
//
//.example-container {
//  margin-right: 20rem;
//  width: 500px;
//  height: 300px;
//  border: 1px solid rgba(0, 0, 0, 0.5);
//}
//
//.example-sidenav-content {
//  display: flex;
//  height: 100%;
//  align-items: center;
//  justify-content: center;
//}
//
//.example-sidenav {
//  padding: 20px;
//}
//
//.pad{
//  padding-top: 50px;
//}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  margin-top:5rem;
}

//.mat-drawer.mat-drawer-side {
//  z-index: 2;
//  width: 19rem;
//}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  min-width: 200px;
  max-width: 300px;
  //transform: none !important;
}

.margin-left {
  margin-left: -10px;

}

mat-drawer-container  {
  min-height: calc( 100vh - 64px );
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ecececc2;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


.date-hour-content {
  background: #3f51b538;
  text-align: center;
  padding: 10px 0;
}



//:host {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//}
//
//mat-drawer {
//  min-width: 200px;
//  max-width: 300px;
//}
//
//.margin-left {
//  margin-left: 300px;
//}
//
//mat-drawer-container  {
//  min-height: calc( 100vh - 64px );
//}
//
//::ng-deep .mat-drawer-inner-container {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  background: #ecececc2;
//}
//
//
//.center {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 80vh;
//}
//
//
//.date-hour-content {
//  background: #3f51b538;
//  text-align: center;
//  padding: 10px 0;
//}

//.body {
//  width: calc(100% - 5rem);
//  //height: 100vh;
//  //margin-top: 5.75rem;
//  //margin-left: 5rem;
//  margin-right: 5rem;
//  z-index: 0;
//  position: relative;
//  top: 0;
//  transition: all .5s ease;
//  background: #f4f7fa;
//  padding: 3rem;
//
//}
//
//.body-trimmed {
//  width: calc(100% - 16.5625rem);
//  //margin-left: 16.5625rem;
//  margin-right: 16.5625rem;
//  //margin-right: 14.5625rem;
//}
//
//.body-md-screen {
//  width: calc(100% - 5rem);
//  margin-left: 5rem;
//  //margin-right: 5rem;
//}


