<div class="container">
<!--      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>-->

<!--  <figure class="highcharts-figure">-->
<!--    <div id="container"></div>-->
<!--    &lt;!&ndash;     <p class="highcharts-description">-->
<!--            Basic line chart showing trends in a dataset. This chart includes the-->
<!--            <code>series-label</code> module, which adds a label to each line for-->
<!--            enhanced readability.-->
<!--        </p> &ndash;&gt;-->
<!--  </figure>-->

<!--  <br>-->
<!--  <br>-->
  <div #target class="highcharts-figure">

  </div>

<!--  <figure class="highcharts-figure">-->
<!--    <div id="container"></div>-->
<!--  </figure>-->

<!--  <figure class="highcharts-figure">-->
<!--    <div id="container"></div>-->
<!--  </figure>-->


</div>
