.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-right: 72px;
  margin-top: 5rem;
}

.mat-mdc-form-field {
  padding-left: 4px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  margin-right: 1rem;
  height: 3rem;
  width: 5rem;
}

dp-date-picker {
  //width: 15% !important;
  //height: 3rem !important;
  //&:focus,hover,{
  //  border-color: #3f51b5;
  //}
  &::ng-deep {
    .dp-picker-input {
      padding: 9px 14px;
      border-radius: 6px;
      border: 1px solid #00524854 !important;
      width: min-content !important;
      height: 3.6rem !important;
      //&:hover,
      &:focus {
        border-top: 2px solid #3f51b5 !important;
        border-bottom: 2px solid #3f51b5 !important;
        border-left: 1px solid #3f51b5 !important;
        border-right: 1px solid #3f51b5 !important;
      }
    }
        input {
          &:last-child {
            font-size:15px;
            text-align: center;
            margin-left: -2mm;
          }
        }
  }
}

.dbinput{
  margin: 10px;
}

