.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding-right: 72px;
  margin-top: 5rem;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  margin-right: 1rem;
  height: 3rem;
  width: 5rem;
}

dp-date-picker {
  width: 15% !important;
  height: 3rem !important;
  //&:focus,hover,{
  //  border-color: #3f51b5;
  //}
  &::ng-deep {
    .dp-picker-input {
      padding: 15px 35px;
      border-radius: 6px;
      border: 1px solid #00524854 !important;
      width: 100% !important;
      height: 3.6rem !important;
      //&:hover,
      &:focus {
        border-top: 2px solid #3f51b5 !important;
        border-bottom: 2px solid #3f51b5 !important;
        border-left: 1px solid #3f51b5 !important;
        border-right: 1px solid #3f51b5 !important;
      }
    }
        input {
          &:last-child {
            //-webkit-box-sizing: border-box;
            //box-sizing: border-box;
            //height:45px;
            //width: 225px;
            font-size:15px;
            //outline: none;
            //height: 3rem;
            //border-radius: 10px;
            //width: 31rem;
            //border: 1px solid var(--grayToWhite);
            //padding-top: 10px;
          }
        }
  }
}

.dbinput{
  margin: 10px;
}

