
<div class="container-fluid ">
  <form [formGroup]="form" (ngSubmit)="applyFilter()">

<!--    <div class="example-button-container">-->
    <button class="example-button-container" mat-icon-button (click)="openDialog('0ms', '0ms')">
      <mat-icon>priority_high</mat-icon>
    </button>
<!--    </div>-->

    <mat-form-field class="test" appearance="outline"  >
      <input  matInput  formControlName="insCode" placeholder="insCode" >
    </mat-form-field>

    <dp-date-picker class="dbinput col-form-label-sm" [config]="datePickerConfig"
                        dir="rtl"
                        formControlName="FromD"
                        placeholder="از"
                        theme="dp-material">
        </dp-date-picker>

          <dp-date-picker class="dbinput col-form-label" [config]="datePickerConfig"
                          dir="rtl"
                          formControlName="ToD"
                          placeholder="تا"
                          theme="dp-material">
          </dp-date-picker>

    <button type="submit" mat-fab extended color="primary">
      اعمال
    </button>
  </form>

</div>





