.container{
  padding: 3rem;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  margin-right: 2rem;
  height: 2rem;
  width: 4rem;
}
