<br>
<br>
<br>
<app-explanation-industry></app-explanation-industry>
<br>
<br>
<br>
<app-json-industry></app-json-industry>
<br>
<br>
<br>




<div class="receptacle">

  <table mat-table [dataSource]="dataSource" mat-sort class="mat-elevation-z8 table table-hover">
    <!-- index Column -->
    <ng-container matColumnDef="index" >
      <th mat-header-cell  *matHeaderCellDef >ردیف</th>
<!--      <td mat-cell  *matCellDef="let data;let i = index;">{{i + 1}}</td>-->
      <td mat-cell  *matCellDef="let data;let i = index;"> {{(i+1)+(pageEvent.pageSize*pageEvent.pageIndex)}} </td>
    </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef  >  شناسه</th>
      <td mat-cell *matCellDef="let data" >{{data.id}}</td>
    </ng-container>

    <!-- industryName Column -->
    <ng-container matColumnDef="industryName" >
      <th mat-header-cell *matHeaderCellDef>نام صنایع</th>
      <td mat-cell *matCellDef="let data">{{data.industryName}}</td>
    </ng-container>

    <!-- industryNameEnglish Column -->
    <ng-container matColumnDef="industryNameEnglish">
      <th mat-header-cell *matHeaderCellDef>نام صنایع به انگلیسی</th>
      <td mat-cell *matCellDef="let data">{{data.industryNameEnglish}}</td>
    </ng-container>

    <!-- regDate Column -->
    <ng-container matColumnDef="regDate">
      <th mat-header-cell *matHeaderCellDef>تاریخ ثبت</th>
      <td mat-cell *matCellDef="let data">{{data.regDate}}</td>
    </ng-container>

    <!-- regTime Column -->
    <ng-container matColumnDef="regTime" >
      <th mat-header-cell *matHeaderCellDef>زمان ثبت نام</th>
      <td mat-cell *matCellDef="let data">{{data.regTime}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumn;let i = index"></tr>
  </table>

  <mat-paginator class="mat-mdc-paginator p"  #paginator [length]="list.length"
                 [pageSize]="10" [pageSizeOptions]="[5,10,50,100]" [showFirstLastButtons]="true"
                 (page)="pageEvent = $event">
  </mat-paginator>
</div>


