.spacer {
  flex: 1 1 auto;
}

.title {
  cursor: pointer;
}

.welcome-text {
  font-size: smaller;
}

//.mat-icon {
//  -webkit-user-select: none;
//  user-select: none;
//  background-repeat: no-repeat;
//  display: inline-block;
//  fill: currentColor;
//  height: 24px;
//  width: 24px;
//  overflow: hidden;
//  padding-top: 2px;
//}

button:focus {
  outline: none;
}

.mdc-list-item {
  //display: flex;
  //position: relative;
  //align-items: center;
  justify-content: center;
  //overflow: hidden;
  //padding: 0;
  //align-items: stretch;
  //cursor: pointer;
  //border-style: double;
}








