<mat-list>
  <ng-container *ngFor="let item of menu">
    <!-- If the item doesn't have children show it as list item-->
    <ng-container *ngIf="item.subMenu === undefined">
      <mat-list-item
        *ngIf="item.title"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon [style.color]="item.color" mat-list-icon>
          {{ item.icon }}
        </mat-icon>
<!--        <div mat-line>{{ item.title }}</div>-->
        <span mat-line>{{ item.title }}</span>
      </mat-list-item>
    </ng-container>

    <!-- If the item has subMenu show it as accordion-->
    <ng-container *ngIf="item.subMenu ">
      <mat-expansion-panel [expanded]="item.expanded">
        <mat-expansion-panel-header>
          <mat-panel-title class="d-flex align-items-center">
            <mat-icon [style.color]="item.color" mat-list-icon>
              {{ item.icon }}
            </mat-icon>
            <span mat-line class="list-item">{{ item.title }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-main-sidebar  [menu]="item.subMenu"></app-main-sidebar>
      </mat-expansion-panel>
    </ng-container>

  </ng-container>
</mat-list>


<!--<div>-->
  <!--        <mat-accordion>-->
  <!--          <h4>accordion solo!</h4>-->
  <!--          <mat-expansion-panel   [(expanded)]="panelOpenState" >-->
  <!--            <mat-expansion-panel-header (click)="closePanel()">Foo</mat-expansion-panel-header>-->
  <!--            Foo content here-->
  <!--            <p>Lorem ipsum dolor sit ametm libero,</p>-->
  <!--          </mat-expansion-panel>-->

  <!--          <mat-expansion-panel>-->
  <!--            <mat-expansion-panel-header>Bar</mat-expansion-panel-header>-->
  <!--            Bar content here-->
  <!--            <p>Lorem ipsum dolor sit amet,</p>-->
  <!--          </mat-expansion-panel>-->

  <!--          <mat-expansion-panel>-->
  <!--            <mat-expansion-panel-header>Baz</mat-expansion-panel-header>-->
  <!--            Baz content here-->
  <!--            <p>Lorem ipsum dolor sit amet,</p>-->
  <!--          </mat-expansion-panel>-->
  <!--        </mat-accordion>-->
  <!--      </div>-->




