<!--<div class="container">-->
<!--  <form >-->
<!--    <div class="login-container">-->
<!--      <div class="login-content">-->
<!--        <mat-toolbar class="login-toolbar" color="primary">ورود کاربر </mat-toolbar>-->

<!--        <mat-card >-->
<!--          <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">-->

<!--            <mat-form-field appearance="outline" class="width">-->
<!--              <mat-label>نام کاربری</mat-label>-->
<!--              <mat-icon matPrefix>person_outline</mat-icon>-->
<!--              <input autofocus matInput  type="text" formControlName="userName">-->
<!--            </mat-form-field>-->

<!--            <mat-form-field class="width" appearance="outline">-->
<!--              <mat-label>رمز ورود</mat-label>-->
<!--              <mat-icon matPrefix>lock_outline</mat-icon>-->
<!--              <input matInput [type]="hide ? 'password' : 'text'" autofocus="false" formControlName="password">-->
<!--              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--              </button>-->
<!--            </mat-form-field>-->


<!--            <div class="button">-->
<!--              <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">ورود</button>-->
<!--            </div>-->

<!--            <br><br>-->
<!--            <div class="rg-span">-->
<!--              <span>اگر حساب کاربری ندارید <a routerLink="/register">اینجا کلیک کنید</a> </span>-->
<!--            </div>-->

<!--          </form>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->


<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" class="login__input" placeholder="User name / Email" formControlName="userName">
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" class="login__input" placeholder="Password" formControlName="password"
                 [type]="hide ? 'password' : 'text'">
          <i class="show__pass fa fa-eye-low-vision" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
             [attr.aria-pressed]="hide"></i>
        </div>

        <!--        <div class="button">-->
        <!--          <button class="button login__submit" type="submit" [disabled]="!loginForm.valid">-->
        <!--            <span class="button__text">Log In Now</span>-->
        <!--            <i class="button__icon fas fa-chevron-right"></i>-->
        <!--          </button>-->
        <!--        </div>-->

        <div class="button">
          <button class="button login__submit" type="submit" [disabled]="loginForm.invalid">
            <span class="button__text">Log In Now</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </div>

      </form>

      <div class="social-login">
        <h3>log in via</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon fab fa-instagram"></a>
          <a href="#" class="social-login__icon fab fa-facebook"></a>
          <a href="#" class="social-login__icon fab fa-twitter"></a>
        </div>
      </div>

      <div class="rg-span">
        <span>اگر حساب کاربری ندارید <a class="link_color" routerLink="/auth/register">اینجا کلیک کنید</a> </span>
      </div>

    </div>


    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>

  </div>
</div>

