/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
  //new for sidenav
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";
 //new for sidenav

@font-face {
  font-family: yekan-font;
  font-weight: normal;
  font-style: normal;
  src: url('./assets/font/yekan-font/Yekan.eot');
  src: url('./assets/font/yekan-font/Yekan.eot?#iefix') format('embedded-opentype'),
  url('./assets/font/yekan-font/Yekan.woff') format('woff'),
  url('./assets/font/yekan-font/Yekan.ttf') format('truetype');
}

@font-face {
  font-family: Tanha;
  font-weight: normal;
  src: url('./assets/font/tanha-font-v0.9/Tanha.eot');
  src: url('./assets/font/tanha-font-v0.9/Tanha.eot?#iefix') format('embedded-opentype'),
  url('./assets/font/tanha-font-v0.9/Tanha.woff') format('woff'),
  url('./assets/font/tanha-font-v0.9/Tanha.ttf') format('truetype');
}

html, body {
  direction: rtl;
  text-align: right;
  height: 100%;
  font-family: yekan-font;
  overflow: auto;
}

body {
  margin: 0;
  //
  position: relative;
}
////new for sidenav
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}




//container
.container {
  padding: 2rem;
}

.mdc-data-table__header-cell {
  font-family: Tanha
}

.mdc-data-table__cell {
  font-family: yekan-font;
}


//*****************************//  START : TABLE  //*****************************//
app-daily-price,
app-fund-table,
app-industry-table,
app-instrument-table,
app-letter-type-table {

  table {
    width: 100%;
  }

  .mat-mdc-table .mat-mdc-header-cell, {
    background: inherit;
    text-align: center;
  }

  .mat-mdc-table .mdc-data-table__cell, {
    text-align: center;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

}
//*****************************//  END : TABLE  //*****************************//

//pagination
//*****************************//  START : PAGINATION  //*****************************//
app-daily-price,
app-fund-table,
app-industry-table,
app-instrument-table,
app-letter-type-table {

  //direction: rtl;

  .p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mat-mdc-paginator, mat-mdc-text-field-wrapper {
    direction: rtl;
    display: flex;
    justify-content: center;

    ::ng-deep .mat-mdc-text-field-wrapper {
      direction: ltr;
    }

    ::ng-deep .mat-mdc-paginator-range-actions {
      direction: ltr;
      display: flex;
    }

    ::ng-deep .mat-mdc-paginator-range-label {
      direction: ltr;
      display: flow-root;
    }

  }

}
//*****************************//  END : PAGINATION  //*****************************//



//*****************************//  START : FILTER  //*****************************//
//*****************************//  END : FILTER  //*****************************//
