.receptacle {
  padding: 2rem;
  margin-top: 60px;
  margin-right: 38px;
}


table {
  width: 100%;
}

.mat-mdc-paginator, mat-mdc-text-field-wrapper,
mat-mdc-paginator-range-actions {
  ::ng-deep .mat-mdc-paginator-range-label {
    //direction: ltr;
    direction: ltr;
    display: flow-root;

    //display: flex;
    //direction: ltr;
  }
}


//.p{
//  padding-left: 34rem;
//  padding-right: 38rem;
//}

//.mat-mdc-paginator, mat-mdc-text-field-wrapper{
//  direction: ltr;
//  ::ng-deep .mat-mdc-text-field-wrapper {
//    direction: rtl;
//  }
//  ::ng-deep .mat-mdc-paginator-range-actions{
//    direction: rtl;
//  }
//  ::ng-deep .mat-mdc-paginator-range-label{
//    direction: ltr;
//  }
//}

