<div class="container">

  <table mat-table [dataSource]="dataSource" mat-sort class="mat-elevation-z8">
    <!-- index Column -->
    <ng-container matColumnDef="index" >
      <th mat-header-cell  *matHeaderCellDef >ردیف</th>
      <td mat-cell  *matCellDef="let data;let i = index;">{{i + 1}}</td>
    </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef  >  شناسه</th>
      <td mat-cell *matCellDef="let data" >{{data.id}}</td>
    </ng-container>

    <!-- cfundId Column -->
    <ng-container matColumnDef="cfundId" >
      <th mat-header-cell *matHeaderCellDef>شناسه صندوق</th>
      <td mat-cell *matCellDef="let data">{{data.cfundId}}</td>
    </ng-container>

    <!-- instituteTypeId Column -->
    <ng-container matColumnDef="instituteTypeId">
      <th mat-header-cell *matHeaderCellDef>شناسه موسسه</th>
      <td mat-cell *matCellDef="let data">{{data.instituteTypeId}}</td>
    </ng-container>

    <!-- instituteType Column -->
    <ng-container matColumnDef="instituteType">
      <th mat-header-cell *matHeaderCellDef>نوع موسسه</th>
      <td mat-cell *matCellDef="let data">{{data.instituteType}}</td>
    </ng-container>

    <!-- instituteKind Column -->
    <ng-container matColumnDef="instituteKind" >
      <th mat-header-cell *matHeaderCellDef>گروه موسسه</th>
      <td mat-cell *matCellDef="let data">{{data.instituteKind}}</td>
    </ng-container>

    <!-- seoregisterNo Column -->
    <ng-container matColumnDef="seoregisterNo">
      <th mat-header-cell *matHeaderCellDef>شماره ثبت</th>
      <td mat-cell *matCellDef="let data">{{data.seoregisterNo}}</td>
    </ng-container>

    <!-- ceo Column -->
    <ng-container matColumnDef="ceo">
      <th mat-header-cell *matHeaderCellDef>مدیر عامل</th>
      <td mat-cell *matCellDef="let data">{{data.ceo}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;let i = index"></tr>
  </table>

  <mat-paginator class="mat-mdc-paginator p"  #paginator [length]="fund.length" [pageSize]="10" [pageSizeOptions]="[5,10,50,100]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
