.container{
  padding: 3rem;
}

.receptacle{
  padding: 2rem;
}


table{
  width: 100%;
}

//.p{
//  padding-left: 34rem;
//  padding-right: 38rem;
//}
//
//.mat-mdc-paginator, mat-mdc-text-field-wrapper{
//  direction: ltr;
//  ::ng-deep .mat-mdc-text-field-wrapper {
//    direction: rtl;
//  }
//  ::ng-deep .mat-mdc-paginator-range-actions{
//    direction: rtl;
//  }
//  ::ng-deep .mat-mdc-paginator-range-label{
//    direction: ltr;
//  }
//}
.mat-mdc-paginator, mat-mdc-text-field-wrapper,mat-mdc-paginator-range-actions {
  ::ng-deep .mat-mdc-paginator-range-label {
    //direction: ltr;
    direction: ltr;
    display: flow-root;

    //display: flex;
    //direction: ltr;
  }
}
